/*Global Styles*/
body{
    background-color: white;
}
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/*Mobile Styles*/
#container {
    background-color: #91CCD9;
    margin: 10px;
    border: 4px solid #384D59;
}

header h1{
    color: #384D59;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;

}

nav li a{
    display: block;
    background-color: #91CCD9;
    color: white;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 5px 0;
    font-size:1.2em;
    text-decoration: none;
    border-radius: 10px;
}

nav li a:hover {
    background-color: #384D59;
}

nav, section, aside, .col, footer{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #91CCD9;
}

.button{
    display: block;
    background-color: #91CCD9;
    color: white;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    font-size:1em;
    text-decoration: none;
    border-radius: 10px; 
}

.button:hover{
    background-color: #384D59;
}

.active{

}

h2,h3{
    color: #384D59;
    font-size: 1.5em;
    text-align: center;
}

p{
    color: #384D59;
    font-size: 1em;
    text-align: center;
}

section img, aside img{
    width: 25%;
}

footer{
    padding: 20px 0;
    text-align: center;
    color:#384D59;
}

iframe{
    width: 100%;
    display: block;
    margin: 0px auto;
}

.gallery_img{
    width: 100%;
    border-radius: 10px;
    margin: 10px auto
}

table{
    display: none;
}

/*Tablet Styles*/

@media(min-width: 768px) {
    #container {
        background-color: #91CCD9;
        margin: 10px;
        border: 4px solid #384D59;
    }
    header{
        padding: 5px;
    }
    header h1 {
        font-size: 3em;
        padding: 5px;
    }

    nav {
        text-align: center;
    }

    nav li{
        display: inline-block;
    }
    nav li a{
        width: 200px;
        height: 50px;
        line-height: 50px;
    }
 
    iframe{
        display: block;
        margin: 20px auto;
    }
    table{
        display: none;
    }

    .gallery_img{
        width: auto;
        border-radius: 10px;
        margin: 10px auto;
        padding: 0px;
    }
    
}
/*Desktop Styles*/
@media(min-width: 1024px) {
    #container {
        background-color: #91CCD9;
        margin: 10px;
        border: 4px solid #384D59;
    }
    header{
        padding: 87px;
    }
    header h1 {
        font-size: 3em;
    }
    nav {
        text-align: center;
        padding: 5px;
    }
    nav li{
        display: inline-block;
    }
    nav li a{
        width: 200px;
        height: 50px;
        line-height: 50px;
    }
    #upper_flex{
        display: flex;
    }
    section, aside{
        width: 100%;
    }
    table, tr, td{
        display: none;
    }

    .gallery_img{
        width: auto;
        border-radius: 10px;
        margin: 10px auto;
        padding: 0px;
    }
}
