/*Global Styles*/
body{
    background-color: #468C58;
}
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/*Mobile Styles*/
#container {
    background-color: #70BF4B;
    margin: 10px;
    border: 4px solid #F2CF8D;
}

header{
    background-image: url('../images/gcourse1.jpg');
    background-size: cover;
    padding: 60px 0;
}

header h1{
    color: #F2CF8D;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;

}

nav li a{
    display: block;
    background-color: #468C58;
    color: #F2CF8D;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 0;
    font-size:1.2em;
    text-decoration: none;
    border-radius: 10px;
}

nav li a:hover {
    background-color: #70BF4B;
    text-shadow: 1px 1px 1px #000;
}

nav, section, aside, .col, footer{
    background-color: #F2CF8D;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid #468C58;
}

.button{
    display: block;
    background-color: #468C58;
    color: #F2CF8D;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    font-size:1em;
    text-decoration: none;
    border-radius: 10px; 
}

.button:hover{
    background-color: #70BF4B;
    text-shadow: 1px 1px 1px #000;
}

h2,h3{
    color: #468C58;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    text-align: center;
}

section img, aside img{
    width: 65%;
}

footer{
    padding: 20px 0;
    text-align: center;
    color:#468C58;
}

/*Tablet Styles*/

/*Desktop Styles*/
